@font-face {
  font-family: 'Urban Starblues'; /* set name */
  src: url(../assets/Urban\ Starblues\ Demo.otf); /* url of the font */
}
@font-face {
  font-family: 'Death Subway'; /* set name */
  src: url(../assets/DeathSubway-Regular.ttf); /* url of the font */
}
@font-face {
  font-family: 'Miasma Regular'; /* set name */
  src: url(../assets/MIASMA__.TTF); /* url of the font */
}
@font-face {
  font-family: 'Mondwest'; /* set name */
  src: url(../assets/ppmondwest-regular.otf); /* url of the font */
}
@font-face {
  font-family: 'NeueBit'; /* set name */
  src: url(../assets/ppneuebit-bold.otf); /* url of the font */
}
body {
    background-color: #f0f0f0;
    background-image: url(../assets/bg-stars.png);
    background-size: 50px;
}
.pixel::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10001;
    background-size: 100% 2px, 3px, 100%;
    pointer-events: none;
}
.headerbg {
    background-image: url(../assets/tupac-pic.jpg);
    background-size: 200px;
    border:1px solid black;
    width: 85vw;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.titletext {
    margin-top: -30px;
    margin-right: 10vw;
    font-family: 'Urban Starblues';
    font-size: 72px;
    text-align: right;
    line-height: 0.6;
    text-shadow: 0 0 24px #ffffff;
    color:black;
    letter-spacing: 4px;
}
.nav {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    display: flex;
    justify-content: center;
}
.nav a {
    background-color: #ebebeb;
    border:1px solid black;
    margin: 5px 6px;
    width: 15vw;
    height:40px;
    font-family: 'Death Subway';
    font-size:15px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center; 
}
.nav a:hover {
    color: gray;
}
.main {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    height:1600px;;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    
}

.main h1 {
    font-family: 'Urban Starblues';
    font-size: 55px;
    letter-spacing: 8px;
    text-align: left;
    line-height: 0.6;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white, 0 0 12px black;
}
.main h2 {
    font-family: 'Death Subway';
    font-size: 30px;
    letter-spacing: 4px;
    text-align: left;
    line-height: 0.6;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white, 0 0 12px black;
    margin-left: 50px;
}
.main p {
    font-family: monospace;
    font-size: 20px;
    margin:0 50px;
    text-indent:50px;
    word-break: normal;
}
table {
    border-collapse: collapse;
    width:80vw;
    margin:0 auto;
    margin-bottom:20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 18px;
    }

td {
    font-family: 'Mondwest';
    color:black;
    padding: 12px;
    text-align: left;
    }
td:first-child {
    font-size: 20px;
    display:flex; 
    align-items: center; 
    gap: 10px;
    }
    td:nth-child(2), td:nth-child(3) {
      color:#858585;
    }
    td img {
      width:50px;
      padding:5px;
    }
    tr:hover td {
      background-color: #e8e8e8;
      cursor: pointer;
    }
    tr:nth-child(odd) {
      background-color: #eeeeee;
    }
    tr:nth-child(even) {
      background-color: #f3f3f3;
    }

.scroll-item:hover{
  cursor: pointer;
  transition:0.3s ease;
  filter:brightness(90%);
}



   .scroll-container{
    margin-left:45px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    font-size: 15px;
   }
   .scroll-item{
    width:150px;
    height:150px;
    font-size: 15px;
   }
  ::-webkit-scrollbar {
    height: 5px;
    width: 15px;
}

    /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background-image: url(../assets/scrollbartest.png);
    }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}
.footer .right {
    text-align: right;
}
.footer .left {
    text-align: left;
}


.loader{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #edebed;
    transition: opacity 1.75s, visibility 1.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content:"";
    width: 75px;
    height: 75px;
    background-image: url(../assets/cds/24kmagic.gif);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}

body {
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: #fff; /* Match your page background */
}

body.fade-out {
  opacity: 0;
}

.addAlbum {
  border: solid 1px black;
  margin: 0px 50px 10px;
  padding: 20px;
}
.addAlbum p {
  position: relative;
  top: -30px;
  left: 500px;
  width: 36vw;
  font-size:1vw;
}