
@font-face {
  font-family: 'Urban Starblues'; /* set name */
  src: url(../assets/Urban\ Starblues\ Demo.otf); /* url of the font */
}
@font-face {
  font-family: 'Death Subway'; /* set name */
  src: url(../assets/DeathSubway-Regular.ttf); /* url of the font */
}
body {
    background-color: #f0f0f0;
    background-image: url(../assets/bg-stars.png);
    background-size: 50px;
}
.pixel::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 20;
    background-size: 100% 2px, 3px, 100%;
    pointer-events: none;
}
.headerbg {
    background-image: url(../assets/tupac-pic.jpg);
    background-size: 200px;
    border:1px solid black;
    width: 85vw;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.titletext {
    margin-top: -30px;
    margin-right: 10vw;
    font-family: 'Urban Starblues';
    font-size: 72px;
    text-align: right;
    line-height: 0.6;
    text-shadow: 0 0 24px #ffffff;
    color:black;
    letter-spacing: 4px;
}
.nav {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    display: flex;
    justify-content: center;
}
.nav a {
    background-color: #ebebeb;
    border:1px solid black;
    margin: 5px 6px;
    width: 15vw;
    height:40px;
    font-family: 'Death Subway';
    font-size:15px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center; 
}
.nav a:hover {
    color: gray;
}
.main {
    background-color: #c6c6c6;
    border:1px solid black;
    width: 85vw;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
}
.main h1 {
    font-family: 'Urban Starblues';
    font-size: 60px;
    letter-spacing: 8px;
    text-align: left;
    line-height: 0.6;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white, 0 0 12px black;
}
.main h2 {
    font-family: 'Death Subway';
    font-size: 30px;
    letter-spacing: 4px;
    text-align: left;
    line-height: 0.6;
    color: black;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white, 0 0 12px black;
    margin-left: 50px;
}
.main p {
    font-family: monospace;
    font-size: 20px;
    margin:0 50px;
    text-indent:50px;
    word-break: normal;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}
.footer .right {
    text-align: right;
}
.footer .left {
    text-align: left;
}
.artistcontainer {
    display: flex;
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 18vw;
    padding: 20px;
    background-color: gainsboro;
    margin-bottom: 20px;
}
.main .bannerone {
    background-image: url(../assets/West-East-Banner.png);
    background-size: 1600px 300px;
    width:82.9vw;
    height: 280px;
    padding-left: 470px;
    padding-top: 20px;
}
.main .bannertwo {
    background-image: url('../assets/West-East-Banner\ \(1\).png');
    background-size: 1600px 300px;
    width:82.9vw;
    height: 280px;
    padding-right: 470px;
    padding-top: 20px;
    background-position: center right;
}

.scroll-container{
    margin-left:45px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
   }
   .scroll-item{
    width:150px;
    height:150px;
   }
  ::-webkit-scrollbar {
    height: 5px;
    width: 15px;
}

    /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background-image: url(../assets/scrollbartest.png);
    }

    .windowsmedia{
        background-image: url('https://i.pinimg.com/564x/50/57/d5/5057d558db91dde981e0bbd3432b3346.jpg');
        height: 360px;
        width: 420px;
        background-size: 420px 360px;
        filter: grayscale(100%);
        margin:20px;
      }


      .carousel {
        margin:20px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 1rem;
      }
      
      .slide {
        flex: 0 0 100%;
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        height: 360px;
        width: 170px;
        border-radius: 8px;
      }
      
          .slide:nth-child(1) { background: #e63946; }
          .slide:nth-child(2) { background: #457b9d; }
          .slide:nth-child(3) { background: #2a9d8f; }